{% extends "base.html" %}

{% block title %}메인{% endblock %}
{% block body_class %}app__body--center{% endblock %}

{% block content %}
<section class="home-empty">
  <div class="home-empty__title-box">
    <span class="home-empty__title-icon" aria-hidden="true">
      <span class="svg-icon svg-icon--flight"></span>
    </span>
    <h1 class="home-empty__title text-title-1">
      <span>{{ request.user.profile.nickname|default:"유저" }}</span>님, 여정을 등록해 주세요.
    </h1>
  </div>

  <ul class="home-empty__points">
    <li><span>1. 예상 컨디션 회복도를 점수로 확인할 수 있어요.</span></li>
    <li><span>2. 어떤 관리가 필요할지 예측할 수 있어요.</span></li>
    <li><span>3. 랜딩의 도움을 받아 장거리 비행 중 컨디션을 최상으로 끌어올릴 수 있어요!</span></li>
  </ul>

  <a class="btn btn--primary btn--block" href="{% url 'trips:create_step1' %}">비행 여정 등록</a>
</section>
{% endblock %}
